page-teste-grid {
    .quadro {
        height: 100%;
        
        border: 2px solid black;
        padding: 0px;
    }
    .linha30 {
        height: 30%;
        background-color: blue;
        
    }
    .linha20 {
        height: 20%;
        background-color: violet;
        
    }
    .linha50 {
        height: 50%;
        background-color: yellow;
        
    }
    .noFundo {
       
        bottom: 0;
    }
}
